html {
  box-sizing: border-box;
  font-size: 24px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #101f3d;
    color: #fff;
  }
}
