---
import MainHead from '../components/MainHead.astro';

const title = 'Oops';
---

<html lang="en">
<head>
  <MainHead title={title} />
  <style>
    body {
      background-color: #eff;
    }
    section {
      text-align: center;
    }
    h1 {
      color: red;
      font-size: 48px;
      text-align: center;
    }
    a {
      color: var(--color-light, #456);
    }
    a:hover {
      color: #aaa;
    }

    a:active {
      color: #9d9dfb;
    }
  </style>
</head>

<body>
  <section>
    <h1>No such page exists</h1>
    <a href="/">Home</a>
  </section>
</body>
</html>
