---
import MainHead from '../components/MainHead.astro';
import { Header } from '../components/Header/Header';
import { MyCV } from '../components/MyCV/MyCV';

let title = 'My Astro App';
let url = "https://github.com/rinatvaliullov";
const titles = [
  { id: 1, title: 'Welcome' },
  { id: 2, title: 'Languages' }
]
---

<html lang="en">
<head>
    <MainHead />
</head>
<body>
  <main>
    <Header
      titles={titles}
    />
    <MyCV />
  </main>
</body>
</html>
