---
const greetText = 'Welcome!';
const title = 'Welcome';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">

    <style>
      section {
        text-align: center;
      }
      .header {
        font-size: 2rem;
        margin: 25px 0;
        text-align: center;
      }
    </style>
</head>
<body>

  <section>
    <h1 class="header">{greetText}</h1>
    <a href="/">Home</a>
  </section>

</body>
</html>
