.header {
  background-color: #3c52aa;
  padding: 15px;
}

ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 500px;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .navHeader {
    max-width: 300px;
  }
}

@media screen and (max-width: 425px) {
  .navHeader {
    font-size: 0.6rem;
    max-width: 200px;
  }
}
