---
const { title = "4ront blog", description = "My personal greet page" } = Astro.props;
---

<meta charset="UTF-8">
<meta name="description" property="og:description" content={description}>
<meta name="viewport" content="width=device-width">
<meta name="yandex-verification" content="086e26ef5430e349" />
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="favicon.ico" />

<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
<link rel="stylesheet" href={Astro.resolve('../styles/home.css')}>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<!-- Yandex.Metrika counter -->
<script>
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(86796460, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/86796460" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
