.footer {
  background-color: #3c52aa;
  padding: 10px 0;
  position: relative;
}

.byline {
  bottom: 10px;
  font-size: 0.5em;
  position: absolute;
  right: 15px;
}

.byline a {
  text-decoration: none;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .navFooter {
    max-width: 300px;
  }
}

@media screen and (max-width: 425px) {
  .navFooter {
    font-size: 0.6rem;
    max-width: 200px;
  }

  .rocket {
    display: none;
  }
}
